body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#dropZone {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 480px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

#dropZone.dragover {
    background-color: #f0f0f0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

#downloadBtn, #resetBtn {
    display: none;
    margin-top: 20px;
    margin-right: 10px;
}

#errorMessage {
    color: red;
    margin-top: 10px;
}

/* Nuevos estilos para la tabla de vista previa */
#tablaPreviewContainer {
    max-width: 100%;
    overflow-x: auto;
    border: 1px solid #ddd;
    padding: 0;
    margin-bottom: 20px;
    max-height: 400px;
    overflow-y: auto;
}

#tablaPreview {
    width: auto;
    min-width: 100%;
    font-size: 1em;
}

#tablaPreview th, 
#tablaPreview td {
    min-width: 120px;
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
    white-space: nowrap;
}